*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    font-family: 'Grape_Nuts', 'Open_Sans';
    background-color: bisque;
    --grid-pixel-size-collection: 300px;
    --grid-pixel-size-individual: 400px;
    --grid-pixel-size-individual-small: 117px;
}

.header-section{
    width: 100%;
    height: 100vh;
    background: url(../images/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-heading{
    font-size: 100px;
    text-transform: capitalize;
    color: #fff;
}

.header-heading span{
    color: #d5be8b;
}

.navbar{
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: black; /* change to desired color */
    top: 0vw;
    display: flex;
    position: absolute;
}
.logo-icon {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 50px;
    margin-left: 3%;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navbar > a {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */

    display: fixed;
    position: relative;
    left: 30%; /* 1% for links to be left side, 30% for center*/
}

.navbar.bg{
    background: #fff;
}

.links-container{
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item{
    margin: 10px;
}

.link{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
    transition: .5s;
}

.navbar.bg .link{
    color: #000;
    opacity: 0.5;
}

.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
}

.user-interactions{
    display: flex;
    position: absolute;
    right: 5vw;
    top: 2.5vw;
    transform: translateY(-50%);
}

.cart, .user{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.cart-icon, .user-icon{
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.cart-item-count{
    font-family: 'lato', sans-serif;
    color: #d5be8b;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    background: #190c05;
    position: absolute;
    bottom: -12px;
    left: -12px;
}

/* Collection of Products page grid*/
.Grid-Container-Collection{
    display: grid;
    gap: 1rem;
    grid: subgrid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: var(--grid-pixel-size-collection);
    height: var(--grid-pixel-size-collection);
}

.image-container {
    grid-column: span 2;
    width: var(--grid-pixel-size-collection);
    height: var(--grid-pixel-size-collection);
}
#image-src{
    width: var(--grid-pixel-size-collection);
    height: var(--grid-pixel-size-collection);
}
.Price-container{
    text-align: right;
}
.cape-Collection-products{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);

    width: var(--grid-pixel-size-collection);
    height: 830px;
}

/* Individual products page*/
.Grid-container-individual{
    margin-top: 100px;
    margin-left: 30%;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;

    width: var(--grid-pixel-size-individual);
    height: var(--grid-pixel-size-individual);

    position: relative;
    
}
.largepicture{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.largepicture img{
    width: var(--grid-pixel-size-individual);
    height: var(--grid-pixel-size-individual);
}

.imgContainerLeft{
    grid-column: 1;
    grid-row: 3;
}

.imgContainerLeft input{
    width: var(--grid-pixel-size-individual-small);
    height: var(--grid-pixel-size-individual-small);
}
.imgContainerMiddle{
    grid-column: 2;
    grid-row: 3;
}
.imgContainerMiddle input{
    width: var(--grid-pixel-size-individual-small);
    height: var(--grid-pixel-size-individual-small);
}

.imgContainerRight{
    grid-column: 3;
    grid-row: 3;
}

.imgContainerRight input{
    width: var(--grid-pixel-size-individual-small);
    height: var(--grid-pixel-size-individual-small);
}

.Title-container-individual{
    grid-column: 4 / 6;
    grid-row: 1;
    width: 15rem;
}
.Title-container-individual h4{
    text-align: start ;
    padding-top: 10px;
}
.Price-container-individual{
    grid-column: 4;
    grid-row: 2;
    width: 15rem;
}

.Price-container-individual h2{
    padding-top: 182.01px;
}

.Price-container-individual button{
    display: block;
    width: 100%;
    line-height: 1.4;
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 44px;
    background-color: black;
    
}

.Price-container-individual button span{ 
    color:whitesmoke;

}