.imgContainer{
    float:left;
    margin-top: 30px;
    margin-left: 630px;
}
#left-img{
    margin-left: -230px;
    border: 0px solid #000;
    padding: 2px;
}
#middle-img{
    margin-left: -690px;
    border: 0px solid #000;
    padding: 2px;
}
#right-img{
    margin-left: -1150px;
    border: 0px solid #000;
    padding: 2px;
}
.largepicture{
    margin-top:130px;
    margin-left:410px;
}
